<h1>This is the Index View</h1>

<% @articles.each do |article| %>
  <p>
    <%= link_to(article.title, article)  %>  <!-- article will return the article id-->
  </p>
</hr>
<% end %>

<p><%= link_to("Add Article", new_article_path) %></p> <!-- new_article_path generates the URL to (NEW) action-->